@import 'libs/normalize.scss';
@import 'base/variables';
@import 'blocks/section';
@import 'blocks/hero';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/button';
@import 'blocks/features';
@import 'blocks/feature';
@import 'blocks/reviews';
@import 'blocks/review';
@import 'blocks/section-form';
@import 'blocks/order';

* {
    box-sizing: border-box;
}
a {
    color: inherit;
}

.container {
    width: 940px;
    margin: 0 auto;
}

img {
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

ul > li {
    list-style: none;
}

