.btn {
    background-color: $red;
    padding: 10px 14px;
    border-radius: 4px;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    transition: .3s all;
    &:hover {
        background-color: #c1401e;
    }
    
}