.hero {
    padding-top: 15px;
    background: url('../img/hero/background.jpg') center center / cover no-repeat;
    color: #fff;
    position: relative;
    &__desc {
        font-family: Lifehack;
        font-size: 65px;
        line-height: 60px;
        font-weight: 500;
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 15px;
        position: absolute;
        top: calc(50% - 70px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__text {
        display: flex;
        flex-direction: column;
        padding-top: 85px;
    }
    &__image {
        position: relative;
        &-two {
            position: absolute;
            top: 68px;
            left: -34px;
        }
    }

}